/* Layout for the App container */
.App {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Calendar container takes full width minus sidebar */
.calendar-container {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  float: left;
  width:80vw;
}

/* Sidebar styling */
.sidebar {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  right: 0;
  top: 0;
  width: 20vw;
  min-height: 100vh ;
  height: auto;
  background-color: #5d1888;
  padding: 20px;
  scroll-behavior: auto;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.sidebar input[type="text"] {
  background-color: aliceblue;
  color: black;
}

.sidebar button{
  padding: 15px;
  margin: 5px;
}

.sidebar button:hover {
  background-color: #a23be2;
}
.calendar
{
  position: relative;
}

.calendar-tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

h1 {
  margin-bottom: 2rem;
}

/* Landing Page Styles */
.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: #fff;
  text-align: center;
}

.landing-header {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.landing-description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  max-width: 600px;
  line-height: 1.6;
}

.sign-in-button {
  background-color: #fff;
  color: #2575fc;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.sign-in-button:hover {
  background-color: #2575fc;
  color: #fff;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
}
